.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: auto;
}

.LargeContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
}

.NavLink {
    text-decoration: none;
    color: rgb(5, 42, 110);
}

.NavLink:active {
    color: black;
}